body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: black;
}

hr {
    height: 30px;
    margin: .5rem;
    width: .1px;
}

#active {
    font-weight: 900;
    color: rgb(160, 0, 0);
}

section {
    width: 90vw;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#divProducts {
    width: clamp(10em, 18vw, 20rem);
    border: 1px solid blue;
    height: 25vh;
    margin: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#clickedHeart {
    margin-left: -3.2rem;
    position: absolute;
    scale: .8;
    opacity: 0;
    z-index: 0;
    transition-duration: 150ms;
}

input {
    display: none;
}

#hearts {
    height: 2.4rem;
}

#heart {
    scale: .8;
    z-index: 9;
    position: absolute;
    margin-left: -3.1rem;
}

#productName {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 2rem;
}

h2 {
    margin: 0;
}